.content {
  background-color: antiquewhite;
  height: 45px;
}

.pagination {
  background-color: chartreuse;
  display: flex;
  justify-content: space-around;
}

.pagination-active {
  display: flex;
  background-color: #ca2468;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: default;
}

.pagination-number{
  display: flex;
  background-color: aqua;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pagination-next{
  display: flex;
  background-color: #1215af;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}
